body {
    background-image: url(background.png);
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 50px auto; /* Centraliza o formulário horizontalmente */
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
}

input[type="number"],
input[type="text"],
input[type="file"],
input[type="password"],
input[type="email"],
select,
.btn {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="file"] {
    cursor: pointer;
}

.btn {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    form {
        max-width: 90%;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px; 
}

.logo img {
    max-width: 50%; 
    height: auto; 
}

/* Estilos para a tabela */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #4CAF50;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}
